.background {
    background: url("assets/suisse-normande.jpg");
    background-size: cover;
    padding-top: 14rem;
    padding-bottom: 8rem;
    color: white;
    margin-right: 13px;
    max-width: 48.5%;
    letter-spacing: 0.2rem;
}

.background-2 {
    background: url("assets/ouistreham.jpg");
    background-size: cover;
    padding-top: 13.5rem;
    padding-bottom: 10rem;
    padding-left: 4rem;
    max-width: 49%;
    letter-spacing: 0.3rem;
}

.background-3 {
    background: url("assets/DONNER_LA_MAIN3.jpg");
    background-size: cover;
    height: 500px;
    margin-right: 70px;
}

.background-4 {
    background: url("assets/SAUT_ANNEE_ANNEE.jpg");
    background-size: cover;
    height: 500px;
    margin-left: 70px;
}

.fas {
    margin-right: 10px;
}

.fab {
    font-size: 19px;
    color: #314e9b;
}

.collapse {
    padding-left: 5rem;
    font-size: 15px;
    margin-bottom: -2px;
}

.fnt-1 {
    font-family: 'Neucha', cursive;
}

.fnt-2 {
    font-family: 'Open Sans', sans-serif;
}

main {
    font-size: 18px;
}

.undrlnd {
    text-decoration: underline;
}

.margin-tp-btm {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.margin-tp {
    margin-top: 3.5rem;
}

.padding-tp-btm {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.no-p {
    margin-right: -15px;
    margin-left: -15px;
}

.border-right {
    padding-right: 3rem;
}

.c-img {
    height: 750px;
}

.info {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}

.info-2 {
    padding-right: 0.7rem;
}

.prgph-1 {
    font-size: 30px;
    margin-bottom: 19rem;
    letter-spacing: 0.4rem;
}

.prgph-2 {
    font-size: 30px;
    margin-bottom: 16.5rem;
    letter-spacing: 0.4rem;
}

.text-light {
    background-color: #2a2a2a;
}

.light-text {
    color: white;
}

.img-weight {
    height: 350px;
    margin-left: 1.5rem;
}

.material-icons.md-17 {
    font-size: 14px;
}

.rounded-circle {
    height: 275px;
    width: 275px;
}

.text-danger {
    letter-spacing: 2px;
}

.img-4 {
    height: 310px;
}

.img-5 {
    height: 350px;
}
